@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

@font-face {
  font-family: 'YOnepickTTF-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/YOnepickTTF-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-shadow {
    text-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .img-shadow {
    filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.4));
  }
}
